$primary   : #c084fc;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #111;
$dark-page : #0a0a0a;
$section-bg: #1a1a1a;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
